<mat-card>
    <mat-card-content>
      <form>
        <h2>Log In</h2>
        <mat-error *ngIf="warning.topWarning"> {{warning.topWarning}}</mat-error><br />
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User Name" name="username" [(ngModel)]="user.userName" (keyup)="validateUserName()" autofocus>
        </mat-form-field>
        <mat-error *ngIf="warning.userName">{{warning.userName}}</mat-error>
        <br />
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" name="password" password="password" [(ngModel)]="user.password" (keyup)="validatePassword()" autofocus>
        </mat-form-field>
        <mat-error *ngIf="warning.password">{{warning.password}}</mat-error>
        <br />
        <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">
          <mat-icon>login</mat-icon>
          <span>&nbsp;&nbsp;&nbsp;Login</span>
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button color="primary" routerLink="/register">
          <mat-icon>account_box</mat-icon>
          <span>&nbsp;&nbsp;&nbsp;Register</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>